<!DOCTYPE html>
<html>
  <head>
    <title>Saasapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <body class="body">

 


  <div class=pictures>
    
        <img  src="https://photos-1.dropbox.com/t/2/AACMDxg_HxpUa0HTFVn-flp4zZoywW7a4uTCtEozNYKGbQ/12/572629870/jpeg/32x32/1/_/1/2/brick-932954_960_720.jpg/EJ2i3MwEGGUgAigC/QAThKsl-d18R5IE5ekiLgkB5K4BKN9VHfzT9Q8ne1Sk?dl=0&size=1280x960&size_mode=3" style="width:1000px">


    
    <img id="about" src="https://photos-6.dropbox.com/t/2/AAB1wrsPl4dnqfAYdcMqdVug_K7mERp25bjVBA50Q6aX6w/12/572629870/jpeg/32x32/1/_/1/2/brick-1498636_960_720.jpg/EJ2i3MwEGGUgAigC/yE6vR-gjvNYFSIHW2t1Q8NIp5A0XgrHQkSdfs3n90PE?dl=0&size=1280x960&size_mode=3"style="width:1000px">
        <img id="portfolio" src="https://photos-2.dropbox.com/t/2/AABb1eLkpFl-EUpncyp7qNF0ChkWWjnvZTjgMR80Q9l14w/12/572629870/jpeg/32x32/1/_/1/2/facade-1453303_960_720.jpg/EJ2i3MwEGGUgAigC/V6PxSmBzf5_FOdMT6joDIrxGjUSIAKx2yqxi4sMMBi4?dl=0&size=1280x960&size_mode=3" style="width:1000px">
    <img id="contact" src="https://photos-1.dropbox.com/t/2/AAB6-21rXHPzaEelpbt2-W6P_aLnm1KvXqavpjFMTr_XcQ/12/572629870/jpeg/32x32/1/_/1/2/floor-1531509_960_720.jpg/EJ2i3MwEGGUgAigC/zzvq9a96vE7bavJ_6kcgvMQMHM-EOEjZBCHQ3q3AOic?dl=0&size=1280x960&size_mode=3" style="width:1200px">



    
  </div>
  
  <img class= me  src="https://scontent-ord1-1.xx.fbcdn.net/v/t1.0-9/15319097_10211166392421461_2269551270510495837_n.jpg?oh=a4f28fa48a8581d11800470e75233bb2&oe=597F4FD2" >

  
  <div class="text" id="home">
    <h2><b>Aaron Eichhorst</h2>


    <h3 ><b><u><br><br><br>About</u></b></h3>
    <h32>

      <br><br><br>Within the past year my focus has shifted to project management and programming.
      <br> Competencies: Project Management, Agile, Waterfall, HTML, CSS, JavaScript, Objective C, Swift</h32>
      


    <h4><b><u>Portfolio<u/></h4>
    <ul>
      Coming Soon!


    </ul>
    </h4>


    <h5><b><u>Contact Info Coming Soon!</u></b></h5>

  </div>
  <div class=header>
  

  <a href="#home">  <button class="home"><b>Home</b></button></a>
    <a href="#about"> <button class="about"><b>About</b></button></a>
 <a href="#portfolio">   <button class="portfolio"><b>Portfolio</b></button>
 <a href="#contact">   <button class="contact"><b>Contact</b></button>
   
  </div>

  <a href="https://www.freecodecamp.com/a-dizzal" target="_blank" class="btn btn-default btn-sm"><input style="position:absolute; font-size:20px; width:200px; height:40px; color:skyblue; background-color:black; left: 720px; top:300px; " type="button" value="Free Code Camp">


    <a href="https://www.linkedin.com/in/aaron-eichhorst-3a348862?trk=nav_responsive_tab_profile_pic" target="_blank" class="btn btn-default btn-sm"><input style="position:absolute; font-size:20px; width:200px; height:40px; color:skyblue; background-color:black; left: 280px; top:300px; " type="button" value="Linkedin">


      <a href="https://github.com/piGuy314" target="_blank" class="btn btn-default btn-sm"><input style="position:absolute; font-size: 20px; width:200px; height:40px; color:skyblue; background-color:black; left: 500px; top:300px" type="button" value="Github ">


        <a href="https://www.facebook.com/aaron.eichhorst.7" target="_blank" class="btn btn-default btn-lg"><input style="position:absolute; font-size:20px; width:200px; height:40px; color:skyblue; background-color:black; left: 60px; top:300px; " type="button" value="Facebook">

   <div class=footer      
 

</body>
    <%= yield %>
  </body>
</html>
